@media screen and (max-width: 439px) {
  .articles p {
    display: none;
  }
  .articles {
    justify-content: center;
  }
}

@media screen and (min-width: 440px) {
  .articles {
    justify-content: space-between;
  }
}

body {
	color: #fff;
	background: #2196F3;
 	background: linear-gradient(to bottom, #2196F3, #4CAF50);
}

.blog {
  padding: 8%;
}

.contact {
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  background: #8BC34A;
  background: linear-gradient(to bottom, #8BC34A, #FFEB3B);
  padding: 8%;
}

header li, .contact li {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5em;
}

header li:not(:last-of-type), .contact li:not(:last-of-type) {
  padding: 2% 8% 0 0;
}

header li a, .articles a {
  color: #FFC107;
}

.contact ul {
  text-align: center;
  font-size: 2em;
}

.contact a {
  color: #fff;
}

.articles {
  display: flex;
  align-items: center;
}