---
layout: default
title: xxyzz
pagination:
  enabled: true
---
<script src="/script/index.js"></script>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<header id="header">
  <a href="https://twitter.com/intent/tweet?url=https://xxyzz.me&text=Check out xxyzz's blog and respect his authoritah!" target="_blank" class="btn-flat btn-floating right orange" title="Share on Twitter"><i class="material-icons">share</i></a>
  <h2 class="slidein">xxyzz</h2>
  <p class="slidein">Respect my authoritah!</p>
  <ul class="slidein">
    <li><a href="#blog">Blog</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="about">About</a></li>
  </ul>
</header>
<div class="blog" id="blog">
  <h2>Blog</h2>

  <ul id="articles-list">
  {% for post in paginator.posts %}
    <li class="articles" style="opacity: 0;">
      <h4><a class="hover" href="{{ post.url }}">{{ post.title }}</a></h4>
      <p>{{ post.date | date: "%b %-d, %Y" }}</p>
    </li>
  {% endfor %}
  </ul>

  <ul class="pagination">
    {% if paginator.previous_page %}
      <li class="waves-effect"><a href="{{ paginator.previous_page_path }}"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
      <li class="waves-effect disabled"><a><i class="material-icons">chevron_left</i></a></li>
    {% endif %}

    {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}
        {% if paginator.page == trail.num %}
          <li class="active orange"><a>{{ trail.num }}</a></li>
        {% else %}
          <li class="waves-effect"><a href="{{ trail.path | prepend: site.baseurl }}">{{ trail.num }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if paginator.next_page %}
      <li class="waves-effect"><a href="{{ paginator.next_page_path }}"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
      <li class="waves-effect disabled"><a><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
  </ul>

</div>

<div class="contact" id="contact">
  <h2 class="scroll">Contact</h2>
  <ul class="scroll">
    <li><a class="fa fa-twitter hover" aria-hidden="true" href="https://twitter.com/Northeast_Park" target="_blank"></a></li>
    <li><a class="fa fa-github hover" aria-hidden="true" href="https://github.com/xxyzz" target="_blank"></a></li>
    <li><a class="fa fa-envelope-o hover" aria-hidden="true" href="mailto:{{ site.email }}" target="_blank"></a></li>
    <li><a class="fa fa-rss hover" href="/feed.xml"></a></li>
  </ul>
</div>