---
layout: page
title: xxyzz
titleImage: /images/google-earth-view-6004.jpg
pagination:
  enabled: true
---
{% for post in paginator.posts %}
  <div class="c-archives__item">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.date | date: "%b %-d, %Y" }}</p>
  </div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      <button class="c-btn">
        <svg viewbox="0 0 24 24">
          <path d="M15.422 7.406l-4.594 4.594 4.594 4.594-1.406 1.406-6-6 6-6z"></path>
        </svg>
      </button>
    </a>
  {% endif %}

  {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
      {% if paginator.page == trail.num %}
          <em class="pageNum">{{ trail.num }}</em>
      {% else %}
          <a class="pageNum" href="{{ trail.path | prepend: site.baseurl }}">{{ trail.num }}</a>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">
      <button class="c-btn">
        <svg viewbox="0 0 24 24">
          <path d="M9.984 6l6 6-6 6-1.406-1.406 4.594-4.594-4.594-4.594z"></path>
        </svg>
      </button>
    </a>
  {% endif %}
  </div>
