<footer class="c-footer">
  <div class="u-container c-footer__container">
    <p>&copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
    <p>
      <a href="https://twitter.com/{{ site.twitterUsername }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://github.com/{{ site.githubUsername }}"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://t.me/polarelephant"><i class="fa fa-telegram" aria-hidden="true"></i></a>
    </p>
  </div>
</footer>
