<footer class="c-footer">
  <div class="u-container c-footer__container">
    <p>
      <a href="https://twitter.com/Northeast_Park}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://github.com/xxyzz"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://t.me/polarelephant"><i class="fa fa-telegram" aria-hidden="true"></i></a>
      <a href="mailto:{{ site.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      <a href="/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i></a>
    </p>
  </div>
</footer>
