/* ==========================================================================
   Article
   ========================================================================== */

header {
  h1 {
    margin: 0.5em auto;
  }
}

article {
  margin: 5% auto;
  font-size: 1.2em;
  color: #5b4636;

  h1 {
    font-size: 1.5em;
    font-weight: bold;
  }

  .pagination {
    button {
      margin: 3% 0;
    }

    span {
      vertical-align: baseline;
      vertical-align: -moz-middle-with-baseline;
    }

    .previous {
      margin: 0 8% 0 1%;
    }
    .next {
      margin: 0 1% 0 8%;
    }
  }

  p, .video-container {
    margin-bottom: 1.5rem;
  }

  .video-container {
      position: relative;
      padding-bottom: 56.25%;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  blockquote {
    border-left: 5px solid #FF9800;
    padding-left: 1.5rem;
  }

  .footnotes :target {
    background: #FF9800;
  }

  .footnotes {
    font-size: 0.9rem;
  }

  .footnotes ol {
    margin-left: 1.5rem;
  }

  table {
    margin: 0 auto 16px;
    padding: 1rem;
    border-collapse: collapse;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    font-size: 13px;

    th {
      height: 48px;
    }

    td {
      height: 48px;
      border-top: 1px solid rgba(0,0,0,.12);
      border-bottom: 1px solid rgba(0,0,0,.12);
      padding: 12px 18px;
    }
  }
}