/* ==========================================================================
   Article
   ========================================================================== */

article {
  margin: 5% auto;
  font-size: 1.3em;
  color: #5b4636;

  h1 {
    font-size: 1.5em;
    font-weight: bold;
  }

  .pagination {
    button {
      margin: 3% 0;
    }
    .previous {
      margin: 0 8% 0 1%;
    }
    .next {
      margin: 0 1% 0 8%;
    }
  }

  p {
    margin-bottom: 1.5rem;
  }

  blockquote {
    border-left: 5px solid #FF9800;
  }
}