.mdl-button {
	background-color: #ff9800;
	color: #fff;
	height: 36px;
	border: none;
	border-radius: 2px;
	padding: 0 16px;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

.mdl-button::-moz-focus-inner {
	border: none;
}

.mdl-button--fab {
	border-radius: 50%;
	font-size: 24px;
	height: 40px;
	min-width: 40px;
	width: 40px;
	box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
	padding: 0;
	display: inline-block;
	position: relative;
}

.mdl-button--fab svg {
	position: absolute;
	top: 50%;
	bottom: 50%;
	transform: translate(-50%, -50%);
}

.mdl-button--raised {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}