/* ==========================================================================
   Footer
   ========================================================================== */

.c-footer {
  padding: 1rem 2.5rem 2.5rem;
  width: 100%;
  background: $c__light-grey;

  p {
    @include fs--meta;
    font-size: 2rem;
    color: white;
    margin: 2rem;
  }

  a:not(:first-of-type) {
    margin-left: 2rem;
  }

  .fa {
    margin-right: 1rem;
  }
}

.c-footer__container {
  text-align: center;
}
