/* ==========================================================================
   Blue Theme
   ========================================================================== */

.t-blue {

  .c-navigation {
    background: $c__cyan;
  }

  .c-article__main a:not(.c-btn) {
    color: $c__cyan;
  }

  .c-footer a {
    color: $c__cyan;
  }
}
