---
layout: page
---
<p><i class="material-icons">access_time</i> {{ page.date | date: "%b %-d, %Y" }}</p>

{{ content }}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url }}" title="{{page.next.title}}" class="next">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">navigate_before</i>
      </button>
      <span>Newer</span>
    </a>
  {% endif %}
  {% if page.previous.url %}
  <a href="{{ page.previous.url }}" title="{{page.previous.title}}" class="previous">
    <span>Older</span>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">navigate_next</i>
    </button>
  </a>
  {% endif %}
</div>

{% include disqus.html %}
