---
layout: page
---
<p><i class="material-icons">access_time</i> {{ page.date | date: "%b %-d, %Y" }}</p>

{{ content }}

<div class="pagination">
  {% if page.previous.url %}
  <a href="{{ page.previous.url }}" class="previous">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">navigate_before</i>
    </button>
    <span>{{page.previous.title}}</span>
  </a>
  {% endif %}
  {% if page.next.url %}
    <a href="{{ page.next.url }}" class="next">
      <span>{{page.next.title}}</span>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">navigate_next</i>
      </button>
    </a>
  {% endif %}
</div>

{% include disqus.html %}
