/* ==========================================================================
   Reset
   ========================================================================== */

/* Reset Modified from Normalize.css */

/* Base Reset */

@media screen and (max-width: 599px) {
  article {
    width: 90%;
  }
}

@media screen and (min-width: 600px) {
  article {
    width: 85%;
  }
}

@media screen and (min-width: 992px) {
  article {
    width: 70%;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #F4ECD8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

h3 {
  font-size: 2.92rem;
}

h4 {
  font-size: 2.28rem;
}

h5 {
  font-size: 1.64rem;
}

header {
  background: #3F51B5;
  padding: 8%;
  color: #fff;
  position: relative;
  z-index: 0;
}

.edge-bottom::after {
  bottom: 0;
  -webkit-transform: skewY(-1.5deg);
  transform: skewY(-1.5deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
}

.edge-top::before {
  top: 0;
  -webkit-transform: skewY(1.5deg);
  transform: skewY(1.5deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.edge-bottom::after, .edge-top::before {
  background: inherit;
  position: absolute;
  content: '';
  height: 50%;
  left: 0;
  right: 0;
  z-index: -1;
}

header p {
  font-size: 1.3rem;
}

.pagination {
  text-align: center;
}

a {
  text-decoration: none;
  color: #3F51B5;
  outline:none
}

.right {
  float: right;
}

svg {
  width: 1em;
  fill: currentColor;
}

.center-text {
  text-align: center;
}