/* ==========================================================================
   Reset
   ========================================================================== */

/* Reset Modified from Normalize.css */

/* Base Reset */

@media screen and (max-width: 599px) {
  article {
    width: 90%;
  }
}

@media screen and (min-width: 600px) {
  article {
    width: 85%;
  }
}

@media screen and (min-width: 992px) {
  article {
    width: 70%;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #F4ECD8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
}

header {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  background: #9C27B0;
  background: linear-gradient(to bottom, #9C27B0, #3F51B5);
  padding: 8%;
  color: #fff;
}

header p {
  font-size: 1.3em;
}

.hover {
  transition: color 1s;
}

.hover:hover {
  color: #FF9800;
}

@keyframes slidein {
  0% {opacity: 0;}
  100% {opacity: 1;}
  from { margin-left: -20% }
  to   { margin-left: 0 }
}

.slidein {
  animation: 1.5s slidein;
}

.pagination {
  text-align: center;
}

.responsive-img {
  margin: 0 auto;
  display: block;
}